@{
    Layout = "";
}
<html>
<head>
    <title>配置</title>
</head>
<body>
          <div>
              <h1>添加导航</h1>
              <form>
                  name<input type="text" value="" name="name" />
                  url<input type="text" value="" name="url" />

              </form>
          </div>
</body>
</html>