@{

    Layout = string.Empty;
}
<html  ng-app="mobile">
<head>
    <title>Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link href="~/Font-Awesome-3.2.1/css/font-awesome.min.css" rel="stylesheet" />
    <!-- css -->
    <style>
        body {
            margin: 0;
            font-family: 'Microsoft YaHei';
        }
        .mobile-loading {
            position:absolute;
            top:0;
            z-index:9999;
            display:table;
            width:100%;
            height:100%;
            background:#000;
          opacity: 1; 
       -webkit-transition: opacity 1.5s;  
       -moz-transition: opacity 0.3s;  
       -webkit-animation-timing-function: ease-out;  
       -moz-animation-timing-function: ease-out;  
        }
            .mobile-loading > div {
                display:table-cell;
                vertical-align:middle;
                text-align:center;
                color:#fff;
                font-weight:bold;
            }
        .topnavi, .topnavi-ul {
            height: 45px;
        }

        .topnavi-ul {
            background: #000;
        }

        a {
            text-decoration: none;
        }

        .topnavi-ul, .topnavi-list, .position-left-div, .position-left-div-mask {
            position: fixed;
        }

            .topnavi-list > ul, .topnavi-ul li:nth-child(2) i, .topnavi-ul > li:last-child, .topnavi-ul li a, .position-left-div ul li {
                color: #fff;
            }

            .topnavi-ul, .position-left-div ul, .topnavi-list > ul {
                list-style: none;
            }

        .topnavi-ul {
            z-index: 8;
            top: 0;
            left: 0;
            width: 100%;
            margin: 0;
            padding: 0;
        }

            .topnavi-ul li {
                float: left;
                width: 33.3%;
            }

            .topnavi-ul li {
                text-align: center;
                line-height: 45px;
            }

            .topnavi-ul > li:nth-child(2) i {
                font-size: 20px;
                width: 31px;
                height: 31px;
                line-height: 31px;
                display: block;
                margin: auto;
                padding: 7px;
            }

            .topnavi-ul li:last-child i {
                display: block;
                margin: auto;
                width: 31px;
                height: 31px;
                padding: 7px;
                line-height: 31px;
                font-size: 20px;
            }

            .topnavi-ul li a {
                font-size: 20px;
            }

        .position-left-div {
            left: 0;
            top: 0;
            width: 80%;
            height: 100%;
            z-index: 10;
            background: rgba(0,0,0,1);
        }

        .transitionall {
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
        }

        .position-left-div-mask {
            top: 0;
            left: 0;
            display: none;
            width: 100%;
            height: 100vh;
            background: rgba(255,255,255,0);
            z-index: 9;
        }

        .position-left-div ul {
            margin: 0;
            padding: 0;
        }

        .position-left-div > div {
            padding: 40px 20px 0 20px;
        }

        .position-left-div ul li {
            text-align: center;
            padding: 7px 0;
            border-bottom: 1px solid rgba(68, 68, 68, 0.64);
            font-weight: 100;
            font-size: 14px;
        }

        .topnavi-list {
            left: 0;
            width: 100%;
            background: #000;
            top: -65px;
            transition: all 0.3s;
        }

            .topnavi-list > ul {
                margin: 0;
                padding: 0;
                display: box;
                display: -webkit-box;
            }

            .topnavi-list ul li {
                -webkit-box-flex: 1 !important;
                float: initial !important;
                padding: 0 !important;
                text-align: center !important;
                margin: 5px 0;
                border-right: 1px solid rgba(255,255,255,0.16);
            }

                .topnavi-list ul li a {
                    font-size: 14px !important;
                }
        .mobile-content {
                 font: 14px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif; 
        }
        .mobile-content a {
                      display:block;
            white-space:pre-line;
            text-overflow:ellipsis;
            overflow:hidden;
            color:#6d6b6b;
  
        }
        .mobile-content > div {
                padding: 5px 10px;
                border-bottom: 1px solid #efefef;
                margin: 5px 10px;
        }
            .mobile-content > div:nth-child(1) div {
                font-weight:bold;
                margin: 0 0 0 -10px;
                font-size:12px;
            }
            .mobile-content > div > div {
                font-size:14px;
            }
                .mobile-content > div > div > div:last-child {
                    padding:10px 0 5px 0;
                    font-size:12px;
                    color:#a7a7a7;
                }

        .mobile-content-layout-2 {
            display:-webkit-box;
            display:box;
            max-height:60px;
        }
            .mobile-content-layout-2 a {
                text-align:left;
            }
            .mobile-content-layout-2 > div {
                -webkit-box-flex:1;
                box-flex:1;
            }
        .mobile-image > div {
            /**/
        }
            .mobile-image-ul {
                margin:0;
                padding:0;
                list-style:none;
                display:box;
                display:-webkit-box;
            }
            .mobile-image-ul li {
                -webkit-box-flex:1;
               padding:2px;
            }
                .mobile-image-ul li > img {
                   width:100%;
                   height:100%;
                    object-fit:cover;
                }
    
        #mobileIndex, #mobileList,#mobileMessage ,#mobileListDetails{
            -webkit-transition:all 0.5s;
            transition:all 0.5s;
            position:absolute;
            top:45px;
            width:100%;
        }
            .mobileListDetailsNavi {
              font-size: 20px;
    position: fixed;
    right: 0px;
    bottom: 70px;
            }
                .mobileListDetailsNavi > div:nth-child(1) {
       text-align: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.48);
    border-radius: 50% 1px 1px 50%;
                }
               .mobileListDetailsNavi i {
                color: #fff;
    width: 50px;
    display: block;
    height: 50px;
    line-height: 50px;
                }
            #mobileListDetails > div:nth-child(1) {
                padding:5px 15px;
            }
                #mobileListDetails > div:nth-child(1) > div:nth-child(1) {
                    font-size:16px;
                }
                #mobileListDetails > div:nth-child(1) > div:nth-child(2) {
                    color:#464545;
                    font-size:12px;
                    padding:5px 0;
                }
                #mobileListDetails > div:nth-child(1) > div:nth-child(3) {
                    font-size:14px;
                }

        .mobileForm,.mobileDetails,.mobileListDetailsNavi {
            cursor:pointer;
            -webkit-user-select:none;
            user-select:none;
            -webkit-tap-highlight-color:rgba(255,255,255,0);
        }
        ::selection {
            background:rgba(255,255,255,0);
        }
        ::-webkit-selection {
              background:rgba(255,255,255,0);
        }
        ::-moz-selection {
               background:rgba(255,255,255,0);
        }
            .mobileForm, .mobileDetails:focus {
                outline:none;
            }
    </style>
    <!-- css -->
</head>
<body>
    <!-- loading -->
    <div class="mobile-loading">
         <div>
             loading
         </div>
    </div>
    <!-- loading -->
    <!--navi start-->
    <div class="topnavi">
        <ul id="topnavi-ul" class="topnavi-ul">
            <li>
                <a>
                    BLOG
                </a>
            </li>
            <li>
                <i class="icon-chevron-down"></i>
                <div class="topnavi-list">
                    <ul>
                        <li class="mobileForm" data-form="mobileIndex"><a href="#">Home</a></li>
                        <li class="mobileForm" data-form="mobileList"><a href="#">文章</a></li>
                        <li class="mobileForm" data-form="mobileMessage"><a href="#">留言板</a></li>
                        <li><a>GitHub</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <i class="icon-align-justify"></i>
            </li>
        </ul>
    </div>
    <!--navi end-->
    <div id="mobileIndex" ng-controller="mobileIndex">
        <!-- image start -->
        <div class="mobile-image">
            <!-- 三,二,三 -->
            <div>
                <ul class="mobile-image-ul">
                    <li>
                        <img id="32" src="/blog/images/loading.gif"
                             data-src="https://gss3.bdstatic.com/84oSdTum2Q5BphGlnYG/timg?wapp&quality=100&size=b250_2000&cut_x=0&cut_w=0&cut_y=0&cut_h=0&sec=1369815402&di=398c077b0639f2282531d95916f8c91b&wh_rate=null&src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fpic%2Fitem%2F7c51f8ca7bcb0a4620ad75f96363f6246960af82.jpg" />
                    </li>
                    <li>
                        <img src="/blog/images/loading.gif"
                             data-src="https://gss3.bdstatic.com/84oSdTum2Q5BphGlnYG/timg?wapp&quality=100&size=b250_2000&cut_x=0&cut_w=0&cut_y=0&cut_h=0&sec=1369815402&di=1774c87ce278a945170cfa5e19d15a91&wh_rate=null&src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fpic%2Fitem%2Fa76854cb0a46f21f6dbba093fe246b600e33ae82.jpg" />
                    </li>
                    <li>
                        <img src="/blog/images/loading.gif"
                             data-src="https://gss3.bdstatic.com/84oSdTum2Q5BphGlnYG/timg?wapp&quality=100&size=b250_2000&cut_x=0&cut_w=0&cut_y=0&cut_h=0&sec=1369815402&di=7eaeb19146c97896cabd9174ebcc369f&wh_rate=null&src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fpic%2Fitem%2F0b692546f21fbe09bfd13dd463600c338544ad82.jpg" />
                    </li>
                </ul>
            </div>
            <div>
                <ul class="mobile-image-ul">
                    <li>
                        <img src="/blog/images/loading.gif"
                             data-src="https://gss3.bdstatic.com/84oSdTum2Q5BphGlnYG/timg?wapp&quality=100&size=b250_2000&cut_x=0&cut_w=0&cut_y=0&cut_h=0&sec=1369815402&di=1774c87ce278a945170cfa5e19d15a91&wh_rate=null&src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fpic%2Fitem%2Fa76854cb0a46f21f6dbba093fe246b600e33ae82.jpg" />
                    </li>
                    <li>
                        <img src="/blog/images/loading.gif"
                             data-src="https://gss3.bdstatic.com/84oSdTum2Q5BphGlnYG/timg?wapp&quality=100&size=b250_2000&cut_x=0&cut_w=0&cut_y=0&cut_h=0&sec=1369815402&di=7eaeb19146c97896cabd9174ebcc369f&wh_rate=null&src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fpic%2Fitem%2F0b692546f21fbe09bfd13dd463600c338544ad82.jpg" />
                    </li>
                </ul>
            </div>
        </div>
        <!--image end -->
        <!-- top content  start -->
        <div class="mobile-content">
            <div>
                <div>
                    TOP
                </div>
            </div>
            <!-- layout class="mobile-content-layout-2" -->
            <div ng-repeat="top in tops">
                <div class="mobileDetails" ng-click="mobiledetailsData($event)" data-id="{{top.id}}">
                    <div>
                        <a>{{top.name}}</a>
                    </div>
                    <div>
                        <span>{{top.time}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- top content end-->
        <!-- new content  start -->
        <div class="mobile-content">
            <div>
                <div>
                    NEW
                </div>
            </div>
            <!-- layout class="mobile-content-layout-2" -->
            <div ng-repeat="new in news">
                <div class="mobileDetails" ng-click="mobiledetailsData($event)" data-id="{{new.id}}">
                    <div>
                        <a>{{new.name}}</a>
                    </div>
                    <div>
                        <span>{{new.time}}</span>
                    </div>
                </div>

            </div>
            <!--layout -->
        </div>
        <!-- new content end-->
    </div>
    <div id="mobileList" ng-controller="mobileList">
        <div class="mobile-content">
            <div>
                <div>
                    LIST
                </div>
            </div>

            <!-- layout class="mobile-content-layout-2" -->
            <div ng-repeat="list in lists">
                <div class="mobileDetails" ng-click="mobiledetailsData($event)" data-id="{{list.Id}}">
                    <div>
                        <a>{{list.Title}}</a>
                    </div>
                    <div>
                        <span>{{ list.Time | date:'yyyy-MM-dd hh:mm' }}</span>
                        <span>浏览({{list.read}})</span>
                    </div>
                </div>

            </div>
            <!--layout -->
        </div>
    </div>
    <div id="mobileMessage">
        <div style="display:table; width:100%;">
            <div style="line-height:250px;text-align:center;color:#000;font-weight:bold;font-size:40px;">404</div>
        </div>
    </div>
    <div id="mobileListDetails" data-form="mobileDetails">
      
        <div>
             <div>
                 十年经验与一年经验的程序员的区别
                 十年经验与一年经验的程序员的区别
                 十年经验与一年经验的程序员的区别
             </div>
            <div>
                <span>2016-12-19 17:05</span>
                <span>浏览(182832)</span>
                <span>评论(100)</span>
            </div>
            <div>
                想让你的网站或博客也能让外国朋友看得懂或是做简繁转换吗？哪有什么办法

                可以实现网站自动翻译呢。哈哈，对使用“Google翻译”，就可以达到这个效果。

                只要在网页上插入一个小工具就可以搞定啦！“Google翻译”使用很简单，

                工具地址:http://translate.google.com/manager/website/?hl=zh-TW ，

                上面有详细的操作步骤，按照上面的说明一步步操作下去，最后把生产的代码嵌

                入到你的网站即可。

                至此，你的网站就可以实现多言切换了，很方便，很准确，在这里还有一点要提醒

                一下，如果想要网站完全进行翻译，要把原先做成图片的文字改成输入文字，这样谷

                歌翻译工具才能进行翻译。

                忘记合诉大家申请“Google 翻译”工具需要有Google电邮帐户才可以的,哈哈

                本站已成功安装Google 翻译”工具(在网页左上角)欢迎大家测试。
                想让你的网站或博客也能让外国朋友看得懂或是做简繁转换吗？哪有什么办法

                可以实现网站自动翻译呢。哈哈，对使用“Google翻译”，就可以达到这个效果。

                只要在网页上插入一个小工具就可以搞定啦！“Google翻译”使用很简单，

                工具地址:http://translate.google.com/manager/website/?hl=zh-TW ，

                上面有详细的操作步骤，按照上面的说明一步步操作下去，最后把生产的代码嵌

                入到你的网站即可。

                至此，你的网站就可以实现多言切换了，很方便，很准确，在这里还有一点要提醒

                一下，如果想要网站完全进行翻译，要把原先做成图片的文字改成输入文字，这样谷

                歌翻译工具才能进行翻译。

                忘记合诉大家申请“Google 翻译”工具需要有Google电邮帐户才可以的,哈哈

                本站已成功安装Google 翻译”工具(在网页左上角)欢迎大家测试。
                想让你的网站或博客也能让外国朋友看得懂或是做简繁转换吗？哪有什么办法

                可以实现网站自动翻译呢。哈哈，对使用“Google翻译”，就可以达到这个效果。

                只要在网页上插入一个小工具就可以搞定啦！“Google翻译”使用很简单，

                工具地址:http://translate.google.com/manager/website/?hl=zh-TW ，

                上面有详细的操作步骤，按照上面的说明一步步操作下去，最后把生产的代码嵌

                入到你的网站即可。

                至此，你的网站就可以实现多言切换了，很方便，很准确，在这里还有一点要提醒

                一下，如果想要网站完全进行翻译，要把原先做成图片的文字改成输入文字，这样谷

                歌翻译工具才能进行翻译。

                忘记合诉大家申请“Google 翻译”工具需要有Google电邮帐户才可以的,哈哈

                本站已成功安装Google 翻译”工具(在网页左上角)欢迎大家测试。
            </div>
        </div>
       
    </div>
    <!-- details navi-->
    <div class="mobileListDetailsNavi">
        <div>
            <i class="icon-chevron-left"></i>
        </div>
    </div>
    <!-- details navi-->
    <!-- left div start -->
    <div class="position-left-div-mask"></div>
    <div class="position-left-div">
        <div>
            <div>
                <ul>
                    <li>
                        学
                    </li>
                    <li>
                        Web前端工程师
                    </li>
                    <li>
                        地球
                    </li>
                    <li>
                        010-2655-7362
                    </li>
                    <li>
                        mykisskui@gmail.com
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- left div end -->

    <script src="~/blog/js/fastclick.js" type="text/javascript"></script>
    <script src="~/blog/js/angular.min.js" type="text/javascript"></script>
    <script>

        //使用fastclick 解决click事件300ms的延迟问题
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);

        var dom = document;
        var positionLeftDiv = dom.querySelector('.position-left-div');
        var positionLeftDivMark = dom.querySelector('.position-left-div-mask');
        var bodyWidth = dom.body.clientWidth;
        var conf = {};
        conf.main = dom.querySelector('#mobileIndex');//默认主窗体
        conf.loading = dom.querySelector('.mobile-loading');
        conf.mobileIndex = dom.querySelector('#mobileIndex');//index
        conf.mobileList = dom.querySelector('#mobileList');//list
        conf.mobileMessage = dom.querySelector('#mobileMessage');//message
        conf.mobileListDetails = dom.querySelector('#mobileListDetails');//details
        conf.mobileListDetailsNavi = dom.querySelector('.mobileListDetailsNavi');
        conf.mobileDetailsparent = null; //details parent 
        conf.mobileForm = dom.querySelector('.mobileForm');//
        conf.imageList = new Array(),conf.imageID = new Array();
        conf.naviList = dom.querySelector('.topnavi-list');
        conf.mobileImage = dom.querySelectorAll('.mobile-image-ul');
        conf.init = function () {
            dom.body.scrollTop = 0;
            conf.loading.style.cssText = 'opacity:0;';
            dom.ontouchstart = function () {
                return false;
            }
            setTimeout(function () {
                conf.loading.style.cssText = 'display:none;';
                dom.ontouchstart = function () {
                    return true;
                }
            }, 1500);
            positionLeftDiv.style.cssText = 'transform:translate3d(-' + bodyWidth + 'px,0,0);';
            setTimeout(function () {
                positionLeftDiv.className += ' transitionall';
            }, 500);
            for (var i = 0; i < conf.mobileImage.length; i++) {
                ImageWidth(conf.mobileImage[i],0);
            }
            conf.mobileList.style.cssText = 'transform:translate(-' + bodyWidth + 'px,0)';
            conf.mobileMessage.style.cssText = 'transform:translate(-' + bodyWidth + 'px,0)';
            conf.mobileListDetails.style.cssText = 'transform:translate(-' + bodyWidth + 'px,0)';
            conf.mobileListDetailsNavi.style.cssText = 'transform:translate(-' + bodyWidth + 'px,0)';
        }();
        dom.addEventListener('click', function (e) {
            var _target = e.target, f = true;
            while (f) {
                if (_target.className == 'mobileForm') {
                    f = false;
                    mobileFormSwitch(_target);//切换
                } else if (_target.className == 'mobileDetails') {
                    mobiledetails(_target);
                    //console.log(_target.getAttribute('data-id'));

                    f = false;
                }
                else if (_target.localName == 'body') {
                    f = false;
                } else {
                    _target = _target.parentNode;
                }
            }
            mobiledetailsnavi(_target);
        });
        conf.mobileListDetailsNavi.addEventListener('click', function (e) {
            conf.mobileDetailsparent.style.cssText = 'transform:translate(0,0);';
            conf.main.style.cssText = 'transform:translate(-' + bodyWidth + 'px,0);';
            conf.main = conf.mobileDetailsparent;
        });
        dom.getElementById('topnavi-ul').addEventListener('touchend', function (e) {
            var _target = e.target;
            switch (_target.className) {
                case 'icon-align-justify':
                    positionLeftDiv.style.cssText = 'transform:translate(0,0);';
                    positionLeftDivMark.style.cssText = 'display:block;';
                    dom.ontouchstart = function () {
                        return false;
                    }
                    break;
                case 'icon-chevron-down':
                    conf.naviList.style.cssText = 'transform:translate3d(0,110px,0)';
                    _target.className = 'icon-chevron-up';
                    break;
                case 'icon-chevron-up':
                    conf.naviList.style.cssText = 'transform:translate3d(0,0,0);';
                    _target.className = 'icon-chevron-down';
                    break;
            }
        });
        positionLeftDivMark.addEventListener('touchend', function (e) {
            positionLeftDiv.style.cssText = 'transform:translate3d(-' + bodyWidth + 'px,0,0);';
            positionLeftDivMark.style.cssText = 'display:none;';
            dom.ontouchstart = function () {
                return true;
            }
        });
        function mobileFormSwitch(a) {
            var _self = a.getAttribute('data-form');
            if (conf[_self] == conf.main) return false;
                conf[_self].style.cssText = 'transform:translate(0,0);';
                conf.main.style.cssText = 'transform:translate(-' + bodyWidth + 'px,0)';
            conf.main = conf[_self];
        }
        function mobiledetails(a) {
            var _self = a.getAttribute('data-id');
            conf.mobileDetailsparent = conf.main;//上级信息
            conf.mobileListDetails.style.cssText = 'transform:translate(0,0);';
            conf.main.style.cssText = 'transform:translate(-' + bodyWidth + 'px,0);';
            conf.main = conf.mobileListDetails;
        }
        function mobiledetailsnavi(a) {
            var _self = a.getAttribute('class');
            if (conf.main.getAttribute('data-form') == conf.mobileListDetails.getAttribute('data-form')) {
                conf.mobileListDetailsNavi.style.cssText = 'transform:translate(0,0);';
            } else {
                    conf.mobileListDetailsNavi.style.cssText = 'transform:translate(-' + bodyWidth + 'px,0);';
            }
        }
        function ImageWidth(image,f) {
            var _self = image.children;
            _self[f].style.cssText = 'width:' + (bodyWidth / _self.length) + 'px; height:' + (bodyWidth / _self.length) + 'px;';
            conf.imageList.push(_self[f].getElementsByTagName('img')[0].getAttribute('data-src'));
            conf.imageID.push(_self[f].getElementsByTagName('img')[0]);
            return f >= _self.length -1 ? true : ImageWidth(image, f+1);
        }
        function imgLoad() {
            var _img = [];
            for(var i=0;i<conf.imageList.length;i++){
                _img[i] = new Image();
                _img[i].src = conf.imageList[i];
                _img[i].setAttribute('data-id', i);
                _img[i].onload = function () {
                    conf.imageID[Number(this.getAttribute('data-id'))].src = this.src;
                }
            }
        }
        imgLoad();
        //使用angular 
        //只用 angular 绑定数据
        var ang = angular.module('mobile', []);

        ang.factory('_service', function () {
            var f = {};
            f.postData = function (a) {
                //再次请求数据

                return "result！";
            }
            return f;
        });
        ang.controller('mobileIndex', function ($scope, $http, _service) {
            $scope._service = _service;
            $http({ url: '/mobile/mobileIndex', method: 'post', datatype: 'json' }).then(function (data) { $scope.tops = data.data[0].top; $scope.news = data.data[0].new; });
            $scope.mobiledetailsData = function (e) {
                console.log('index!');
            }
        });
        ang.controller('mobileList', function ($scope, $http, _service) {
          $scope._service = _service;
            $http({ url: '/mobile/mobileList', method: 'post', datatype: 'json' }).then(function (data) {
                for (var i = 0; i < data.data.length; i++) {
                 data.data[i].Time = data.data[i].Time.replace('/Date(', '').replace(')/', '');
                }
                $scope.lists = data.data;
            });
            $scope.mobiledetailsData = function (e) {
                console.log('details!');
            }
        });
    </script>
</body>
</html>