body {
}
article {
    position:relative;
    z-index:10;
}
.music_body {
    padding:10px 20px;
    font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft Yahei",Helvetica,Arial,sans-serif;
       height:600px;
    overflow:auto;
    background:#fff;
}
.music_item_body {
  overflow:hidden;
  padding:0 25px;

}
    .music_item_body > div {
        float:left;
        width:33%;
        line-height:36px;
        color:#aaa;
    }
.music_list_body {
    overflow:hidden;
 
}
.music_list_div {
    border-bottom: 1px solid #EBEBEB;
    position:relative;
}
    .music_list_div:hover {
        background:#f5f5f5;
    }
.music_list_div > div:first-child {
    position:absolute;
    width:25px;
    line-height:41px;
    height:41px;
    text-align:center;

}
    .music_list_div > div:first-child > em {
    font-style:normal;
    color:#aaa;

    }
.music_list_div > div:last-child {
    padding:0 25px;
    overflow:hidden;
   
}
.music_list_div > div:last-child > div {
     float:left;
    width:33%;
    height:41px;
    line-height:41px;
    color:#4c4c4c;

}

.music_pla {
    width:100%;
    height:70px;
  background: rgba(0, 0, 0, 0.37);
}
.music_pla {
        background: url(/blog/images/buttonbackground.png) repeat 0 0;
    font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft Yahei",Helvetica,Arial,sans-serif;

}
    .music_pla > div:first-child {
            padding:0 175px;
            height:100%;
            position:relative;
    }
.music_pla_div {
    position:relative;
        height:100%;

}
.music_pla_name {
    position:absolute;
    top:15px;
    height:15px;
    line-height:15px;
    color:#fff;
    
}
.music_pla_obj {
    position:absolute;
    top:40px;
    width:100%;
    height:20px;
    line-height:20px;
}
    .music_pla_obj > div {
        position:absolute;
        text-align:center;
        color:#fff;
    }
        .music_pla_obj > div:nth-child(1) {
              left:0px;
              width:40px;
        }
        .music_pla_obj > div:nth-child(2) {
            left:40px;
            width:auto;
        }
.music_pla_obj > div:nth-child(2) > div:nth-child(1) {
    height: 20px;
    background: rgba(214, 214, 214, 0.08);
}
.music_pla_obj > div:nth-child(2) > div:nth-child(2) {
    position:absolute;
    top:0;
    width:0%;
    background:#fff;
    height:20px;
}
        .music_pla_obj > div:nth-child(3) {
            right:0;
            width:40px;
        }
.music_config {
    position:absolute;
    top:0;
    left:0;
    width:175px;
    height:100%;
}
    .music_config > a:nth-child(1) {
        position:absolute;
        top:20px;
        left:10px;
        width:30px;
        height:30px;
       background-position:0 -90px;
    }
    .music_config > a:nth-child(2) {
        position:absolute;
        top:20px;
        left:60px;
        width:30px;
        height:30px;
           background-position:0 -30px;
    }
    .music_config > a:nth-child(3) {
        position:absolute;
        top:20px;
        left:110px;
        width:30px;
        height:30px;
        background-position:0 -60px;
    }
     .music_config >.music_puase {
        background-position:0 -30px;
        
    }
    .music_config > .music_play {
            background-position:0 0px!important;
    }
   
    .music_config > a {
            background-image: url(http://gtms03.alicdn.com/tps/i3/T1bMh.FxNXXXb_r3IF-72-730.png);
    background-repeat: no-repeat;
    }
        .music_config > a:hover {
            cursor:pointer;
        }

#jblurbackground {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}
.ui_canvas {
        position:absolute;
        z-index:0;
        opacity:1;
   
}
    #jblurbackground > .ui_canvasMain {
           z-index: 1;
           opacity:0;
           -webkit-animation:fadeIn 1s .2s ease both;
                animation: fadeIn 1s .2s ease both;
}

    @-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}
