@{
    Layout = string.Empty;
}


<html>
<head>
    <title>Index</title>
    <link href="/css/MoveConfig.css" rel="stylesheet" />
</head>
<body>

    <div class="Main">
        <div class="Left">
            <ul id="move_UL">
                <li>
                    <div data-type="module" data-name="daohanglan">导航栏</div>
                </li>
            </ul>
        </div>
        <div class="center" id="moveLayout" data-type="mainmove">

        </div>
        <div class="Right">

        </div>
    </div>


    <script src="/Scripts/jquery-1.8.2.min.js"></script>
    <script src="/js/MoveConfig.js" type="text/javascript"></script>
</body>
</html>