@{
    Layout = string.Empty;
}
<html>
<head>
    <title>评论列表</title>
    <link href="/blog/css/AdminArticle.css" rel="stylesheet" />
</head>
<body>
    <div class="ArticleList">
        <div class="ArticleListData">
            <table>
                <tr>
                    <td>编号</td>
                    <td>标题</td>
                    <td>作者</td>
                    <td>发布时间</td>
                    <td>类型</td>
                    <td>浏览量</td>
                    <td>评论量</td>
                    <td>显示</td>
                    <td>操作</td>
                </tr>
                <tr>
                    <td>编号</td>
                    <td>标题</td>
                    <td>作者</td>
                    <td>2014-10-03</td>
                    <td>类型</td>
                    <td>浏览量</td>
                    <td>评论量</td>
                    <td>显示</td>
                    <td>
                        <a href="javascript:void(0);">编辑</a>
                        <a href="javascript:void(0);">删除</a>
                    </td>
                <tr>
                    <td>编号</td>
                    <td>标题</td>
                    <td>作者</td>
                    <td>发布时间</td>
                    <td>类型</td>
                    <td>浏览量</td>
                    <td>评论量</td>
                    <td>显示</td>
                    <td>
                        <a href="javascript:void(0);">编辑</a>
                        <a href="javascript:void(0);">删除</a>
                    </td>
                </tr>
                </tr>
            </table>

        </div>
    </div>
</body>
</html>