<style>
    .ws_body {
        position:fixed;
        bottom:0;
        right:0;
        transform:translate(305px,0px);
       width:300px;
       height:500px;
              background:#eee;
               font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;

    box-shadow: -1px -1px  1px #cacaca;
    z-index:9999;

    }
    .ws_body {
        -webkit-transition:all 1s;
    }
    .ws_close {
     position: fixed;
    right: 0px;
    background: #eee;
    height: 40px;
    width: 50px;
    font-size: 14px;
    box-shadow: -1px -1px 1px #cacaca;
    color: #2b2b2b;
    font-family: microsoft yahei;
    line-height: 40px;
    text-align: center;

   
    }
        .ws_close:hover {
            background:#d0d0d0;
            color:#fff;
            cursor:pointer;
        }
    .ws_ope {
               position:absolute;
            bottom:0;
            left:0;
            width:100%;
    }
        .ws_body #ws_send {
            background:#2f2f2f;
            border:1px solid #fff;
            line-height:2;
            text-align:center;
            padding:5px 0;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            font-family: microsoft yahei;
            width:100%;
        }
    
        .ws_body #ws_name > input{
        padding: 10px 10px;
    border-top: 1px solid #e6e6e6;
    border-left: 0;
    border-right: 0;
    outline: none;
    display: block;
    width:100%;
        }
    .ws_content {
        color:#000;
        overflow:auto;
        height:420px;
    }
        .ws_content > div {
            padding:5px 0 5px 10px;

        }
            .ws_content > div > div:nth-child(1) {
              padding: 5px 0 10px 0;
            }
            .ws_content > div > div:nth-child(1) span, .ws_content > div > div:nth-child(2) span{
             
               font-weight:400;
               font-size:12px;
            }
    .ws_user {
             color:green;
    }
    .ws_admin {
       color:blue;
    }
    ::-webkit-scrollbar {
        width:5px;
    }
    ::-webkit-scrollbar-track {
        background:#eee;  /*滚动条背景色*/
    }
    ::-webkit-scrollbar-thumb {
        background:#e2dddd;/*滑块颜色*/
        border-radius:10px;

    }
    .ws_UserName {
        position:fixed;
        right:0px;
        transform:translate(200px,0);
        background:#3b3c3b;
        width:200px;
        height:40px;
       transition:all 0.5s;
    }
    .ws_UserName, .ws_close {
        bottom:500px;
    }
        .ws_UserName div {
            color:#fff;
            line-height:40px;
            font-weight:400;
            font-size:14px;
            margin:auto;
            text-align:center;
        }
        .ws_UserName > div > input {
                padding: 5px 5px;
    margin: 6px auto;
    border: 1px solid #eee;
    display: block;
    background: #e6e6e6;
        }
</style>
<div id="ws_close" data-type="1" class="ws_close">
    <a>open</a>
</div>
<div class="ws_UserName" id="ws_UserName">
    <div>
        <input value="" id="ws_UserNameValue" placeholder="name" type="text" />
    </div>
</div>
<div class="ws_body" id="ws_body">
   
    <div class="ws_content" id="ws_content">
        @*<div>
            <div class="ws_user">
                <span>服务器 </span>
                <span>2016-12-12 19:25:20</span>
            </div>
            <div>
                <span >服务器收到了你的请求</span>
            </div>
        </div>
        <div>
            <div class="ws_admin">
                <span>管理员 </span>
                <span>2016-12-12 19:25:20</span>
            </div>
            <div>
                <span>服务器收到了你的请求</span>
            </div>
        </div>*@
    </div>
    <div class="ws_ope">
        <div id="ws_name">
            <input value="" id="ws_text" name="ws_text" />
        </div>
        <div id="ws_send">发送</div>
    </div>
</div>
<script>
    document.getElementById('ws_close').onclick = function () {
        var _self = this,childrenText;
        
        switch (_self.getAttribute('data-type')) {
            case '1':
                //关闭状态
                ws_body.style.cssText = 'transform:translate(0px,0px);width:'+(document.body.clientWidth)+'px;';
                childrenText = 'close';
                _self.setAttribute('data-type', '0');
                ws_text.focus();
              ws_UserName.style.cssText = 'transform:translate(-55px,0)';
                break;
            case '0':
                //开启状态
                ws_body.style.cssText = '';
              ws_UserName.style.cssText = '';
                childrenText = 'open';
                _self.setAttribute('data-type', '1');
                break;
        }

        setTimeout(function () {
            _self.children[0].innerText = childrenText;
        }, 1000);
    }
</script>
