<style>
    .ws_body {
        position:fixed;
        bottom:0;
        right:-305px;
       width:300px;
       height:500px;
              background:#eee;
               font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;

    box-shadow: 0 0 10px #cacaca;
    z-index:9999;

    }
    .ws_body {
        -webkit-transition:all 1s;
    }
    .ws_close {
               position: absolute;
    left: -34px;
    background: #eee;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    box-shadow: -3px -3px 0px 1px #cacaca;
    color: #2b2b2b;
    font-family: microsoft yahei;
    }
        .ws_close:hover {
            background:#aaa;
            color:#fff;
            cursor:pointer;
              box-shadow: -3px -3px 0px 1px #fff;
        }
    .ws_ope {
               position:absolute;
            bottom:0;
            left:0;
            width:100%;
    }
        .ws_body #ws_send {
            background:#aaa;
            border:1px solid #fff;
            line-height:2;
            text-align:center;
            padding:5px 0;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            font-family: microsoft yahei;
     
        }
    
        .ws_body #ws_name > input{
        padding: 10px 10px;
    border-top: 1px solid #e6e6e6;
    border-left: 0;
    border-right: 0;
    outline: none;
    display: block;
    width: 280px;

        }
    .ws_content {
        color:#000;

    }
        .ws_content > div {
            padding:5px 0 5px 10px;

        }
            .ws_content > div > div:nth-child(1) {
              padding: 5px 0 10px 0;
            }
            .ws_content > div > div:nth-child(1) span, .ws_content > div > div:nth-child(2) span{
             
               font-weight:400;
               font-size:12px;
            }
    .ws_user {
             color:green;
    }
    .ws_admin {
       color:blue;
    }
</style>
<div class="ws_body" id="ws_body">
    <div id="ws_close" data-type="1" class="ws_close">
         <a>开</a>
    </div>
    <div class="ws_content" id="ws_content">
        @*<div>
            <div class="ws_user">
                <span>服务器 </span>
                <span>2016-12-12 19:25:20</span>
            </div>
            <div>
                <span >服务器收到了你的请求</span>
            </div>
        </div>
        <div>
            <div class="ws_admin">
                <span>管理员 </span>
                <span>2016-12-12 19:25:20</span>
            </div>
            <div>
                <span>服务器收到了你的请求</span>
            </div>
        </div>*@
    </div>
    <div class="ws_ope">
        <div id="ws_name">
            <input value="" name="ws_text" />
        </div>
        <div id="ws_send">发送</div>
    </div>
  
</div>

<script>
    var ws,ws_json,wsContentText;
        ws = new WebSocket("ws://" + window.location.hostname + ":" + window.location.port + "/ws/Get");
        ws.onopen = function () {
            console.log('连接成功');
            ws.send("{\"name\":\"yujx\"}");
        };
        ws.onmessage = function (result) {
            //console.log(result.data);
            ws_json = JSON.parse(result.data);

            wsContentText = "<div>" +
            "<div class=\""+ws_json.ws+"\">"+
             "   <span>"+ws_json.name+"</span>"+
            "    <span>"+ws_json.time+"</span>"+
           " </div>"+
          "  <div>"+
         "       <span >" + ws_json.text + "</span>" +
        "    </div>"+
       " </div>";
            ws_content.innerHTML += wsContentText;
        };
        ws.onerror = function (error) {
            console.log(error);
        };
        ws.onclose = function () {
            console.log('关闭');
        };
    document.getElementById('ws_send').onclick = function () {
        var text = document.getElementById('ws_name').getElementsByTagName('input')[0].value;
        ws.send(text);
    }
    document.getElementById('ws_close').onclick = function () {
        var _self = this,childrenText;
        
        switch (_self.getAttribute('data-type')) {
            case '1':
                //关闭状态
                ws_body.style.cssText = 'right:0px;';
                childrenText = '关';
                _self.setAttribute('data-type', '0');
                break;
            case '0':
                //开启状态
                ws_body.style.cssText = '';
                
                childrenText = '开';
                _self.setAttribute('data-type', '1');
                break;
        }

        setTimeout(function () {
            _self.children[0].innerText = childrenText;
        }, 1000);

    }

</script>
