@{
    Layout = string.Empty;
}
<html>
<head>
    <title>0.0</title>
    <style>
        body {
            background: #fbfbfb;
        }
        .body {
            width: 700px;
            height: 800px;
            border: 1px solid #fff;
            background: #f9f9f9;
             margin:auto;
        }
    </style>
</head>
<body>
    <div class="body">
        <ul>
            <li><img src="~/blog/images/50.jpg" /></li>
        </ul>
    </div>
</body>
</html>
